- if defined?(actions) && actions != nil
  - if actions.count > 1
    - link, text = actions.shift
    .btn-group.text-right
      %a.btn.btn-primary{ href: link }= text
      %button.btn.btn-primary.dropdown-toggle{ type: 'button', id: 'actions-toggle', data: { toggle: 'dropdown' }, 'aria-haspopup': 'true', 'aria-expanded': 'false' }
        %span.caret
        %span.sr-only Toggle Dropdown
      .dropdown-menu
        - actions.each do |k, v|
          %a.dropdown-item{ href: k }= v
  - elsif actions.count == 1
    %a.btn.btn-primary{ href: actions.keys.first }= actions.values.first
