- if actions.count > 1
  .dropdown
    %button.btn.btn-default.btn-block.dropdown-toggle{ type: 'button', id: 'actions-toggle', data: { toggle: 'dropdown' } }
      Actions
      %span.caret
    %ul.dropdown-menu{ 'aria-labelledby': 'actions-toggle' }
      -actions.each do |k, v|
        %li
          %a{ href: k }= v
- elsif actions.count > 0
  -actions.each do |k, v|
    %a.btn.btn-primary.btn-block{ href: k }= v
