.form-group.col
  %label{ for: "filter_#{name}" }= label
  - if options
    %select.form-control.select2{ style: 'width: 100%', name: name, id: "filter_#{name}" }
      %option{ value: '' } -- Select One --
      - options.each do |k,v| k ||= v;  v ||= k;
        %option{ value: k, selected: (params[name].eql? k)}= v
  - else
    %input.form-control{ name: name, id: "filter_#{name}", value: params[name] }