- if flash[:danger]
  .alert.alert-danger.alert-dismissible{ role: "alert" }
    %button.close{ 'type' => 'button', 'aria-hidden' => 'true', 'area-label' => 'true', 'data-dismiss' => 'alert' } &times;
    %ul
      - [*flash[:danger]].each do |msg|
        %li= msg

- if flash[:warning]
  .alert.alert-warning.alert-dismissible{ role: "alert" }
    %button.close{ 'type' => 'button', 'aria-hidden' => 'true', 'area-label' => 'true', 'data-dismiss' => 'alert' } &times;
    %ul
      - [*flash[:warning]].each do |msg|
        %li= msg

- if flash[:success]
  .alert.alert-success.alert-dismissible{ role: "alert" }
    %button.close{ 'type' => 'button', 'aria-hidden' => 'true', 'area-label' => 'true', 'data-dismiss' => 'alert' } &times;
    %ul
      - [*flash[:success]].each do |msg|
        %li= msg


- if flash[:info]
  .alert.alert-info.alert-dismissible{ role: "alert" }
    %button.close{ 'type' => 'button', 'aria-hidden' => 'true', 'area-label' => 'true', 'data-dismiss' => 'alert' } &times;
    %ul
      - [*flash[:info]].each do |msg|
        %li= msg
