- if flash[:danger]
  .alert.alert-danger.alert-dismissible{ role: "alert" }
    %button.close{ type: 'button', 'aria-label': 'Close', 'data-dismiss': 'alert' }
      %span{ 'aria-hidden': 'true' } &times;
    %ul.mb-0
      - [*flash[:danger]].each do |msg|
        %li= msg

- if flash[:warning]
  .alert.alert-warning.alert-dismissible{ role: "alert" }
    %button.close{ type: 'button', 'aria-label': 'Close', 'data-dismiss': 'alert' }
      %span{ 'aria-hidden': 'true' } &times;
    %ul.mb-0
      - [*flash[:warning]].each do |msg|
        %li= msg

- if flash[:success]
  .alert.alert-success.alert-dismissible{ role: "alert" }
    %button.close{ type: 'button', 'aria-label': 'Close', 'data-dismiss': 'alert' }
      %span{ 'aria-hidden': 'true' } &times;
    %ul.mb-0
      - [*flash[:success]].each do |msg|
        %li= msg


- if flash[:info]
  .alert.alert-info.alert-dismissible{ role: "alert" }
    %button.close{ type: 'button', 'aria-label': 'Close', 'data-dismiss': 'alert' }
      %span{ 'aria-hidden': 'true' } &times;
    %ul.mb-0
      - [*flash[:info]].each do |msg|
        %li= msg
