.row
  .col-sm-3
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %h4 Login
      .panel-body
        %form{ method: 'post', action: "#{settings.map_path}/auth/identity/callback" }
          .form-group
            %label.control-label Username
            %input.form-control.border-input{ name: 'username' }
          .form-group
            %label.control-label Password
            %input.form-control.border-input{ name: 'password', type: 'password' }
          .row
            .col-md-6
              %button.btn.btn-primary{ type: 'submit' } Log In
            .col-md-6.text-right
              %a.btn.btn-default{ href: "#{settings.map_path}/reset-password" } Forgot my Password
          - if policy(::Ditty::Identity).register?
            %hr
            %p.text-center
              No account yet?
              %a.btn.btn-success{ href: "#{settings.map_path}/auth/identity/register" } Register
  .col-sm-3
