.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-body
        %form.form-horizontal{ method: 'post', action: "#{settings.map_path}/auth/identity/new" }
          = form_control(:username, identity, label: 'Email', placeholder: 'your@email.com')
          = form_control(:password, identity, label: 'Password', type: :password)
          = form_control(:password_confirmation, identity, label: 'Confirm Password', type: :password)

          - if identity.errors[:password] && identity.errors[:password].include?('is not strong enough')
            .alert.alert-warning
              %p Make sure your password is at least 8 characters long, and including the following
              %ul
                %li Upper- and lowercase letters
                %li Numbers
                %li Special Characters

          - if policy(::Ditty::Identity).register?
            %button.btn.btn-primary{ type: 'submit' } Register
  .col-md-2
