.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-body
        %form.form-horizontal{ method: 'post', action: "#{settings.map_path}/auth/identity/reset" }
          %input{ name: '_method', value: 'PUT', type: 'hidden' }
          %input{ name: 'token', value: params[:token], type: 'hidden' }
          - if identity.errors[:password] && identity.errors[:password].include?('is not strong enough')
            .alert.alert-warning
              %p Make sure your password is at least 8 characters long, and including the following
              %ul
                %li Upper- and lowercase letters
                %li Numbers
                %li Special Characters
          = form_control(:password, identity, type: 'password', placeholder: 'Your password', group: 'identity')
          = form_control(:password_confirmation, identity, type: 'password', label: 'Confirm Password', placeholder: 'Confirm your password', group: 'identity')
          %button.btn.btn-primary{ type: 'submit' }
            Reset Password
  .col-md-2
