.row
  .col-sm-3
  .col-sm-6
    .panel.panel-default
      .panel-body
        %form{ method: 'post', action: "#{settings.map_path}/reset-password" }
          .form-group
            %label.control-label Email Address
            %input.form-control.border-input{ name: 'email_address' }
          %button.btn.btn-primary{ type: 'submit' } Reset my Password
  .col-sm-3
