.row
  .col-md-2
  .col-md-8
    .card.card-default.shadow
      .card-body
        = new_form_tag base_path do
          = haml :'roles/form', locals: { entity: entity }
          %button.btn.btn-primary{ type: 'submit' }
            Create Role
  .col-md-2
