%p
	Hi #{identity.user.name}

%p
	We received a request to reset the password for #{identity.username}.
	You can use the button below to complete this request.
	%strong
		This reset is only valid for 24 hours

%p.text-center
	%a{ href: reset_url } Reset Password

%p
	For security purposes, if you did not request this password reset,
	please contact support.

%p
	Thanx!

%ul
	%li
		Requesting IP:
		= request.ip
	%li
		Requesting User Agent:
		= request.user_agent
