.row
  .col-md-2
  .col-md-8
    .card.card-default
      .card-body
        = edit_form_tag "#{base_path}/#{entity.id}" do
          = haml :'users/user', locals: { user: entity }
          %button.btn.btn-primary{ type: 'submit' }
            Update User
  .col-md-2
