.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-body
        = new_form_tag base_path do
          = haml :'users/identity', locals: { identity: Ditty::Identity.new }
          = haml :'users/user', locals: { user: entity }
          %button.btn.btn-primary{ type: 'submit' }
            Create User
  .col-md-2
