= form_control(:name, user)
= form_control(:surname, user)
- if policy(user).permitted_attributes.include? :role_id
  = form_control(:role_id, user, type: 'select', options: Ditty::Role.order(:name).as_hash(:id, :name), name: 'user[role_id][]', value: user.roles_dataset.map(:id), multiple: true)
